<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- debut du footer -->
    <th:block th:fragment="footer">
    <div class="section footer-section">

        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">

                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="index.html"><img th:src="@{/images/logo.png}" alt="Logo"></a>
                        </div>
                        <!-- Footer Logo End -->

                    </div>
                    <div class="col-xl-5 col-md-8">

                        <!-- Footer Contact & Payment End -->
                        <div class="footer-contact-payment">
                            <div class="footer-contact">
                                <div class="contact-icon">
                                    <img th:src="@{/images/icon/icon-4.png}" alt="Icon">
                                </div>

                                <div class="contact-content">
                                    <h6 class="title">Contacter Nous:</h6>
                                    <p>+237 656437088</p>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Contact & Payment End -->

                    </div>
                    <div class="col-xl-5 ">

                        <!-- Footer Subscribe End -->
                        <div class="footer-subscribe">
                            <span class="title">Inscrivez vous maintenant !:</span>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Entrez Votre Mail">
                                    <button><i class="pe-7s-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Footer Subscribe End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Nos services</h4>

                            <ul class="footer-link">
                                <li><a href="#">Methode de Paiement</a></li>
                                <li><a href="#">Remboursement garantie</a></li>
                                <li><a href="#">Termes et conditions</a></li>
                                <li><a href="#">Politique de confidencialité</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->

                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Informations</h4>

                            <ul class="footer-link">
                                <li><a href="#">à propos</a></li>
                                <li><a href="#">Comment acheter?</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Nous contacter</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Mon compte</h4>

                            <ul class="footer-link">
                                <li><a href="#">Se Connecter</a></li>
                                <li><a href="#">Mon panier</a></li>
                                <li><a href="#">Poursuivre ma commande</a></li>
                                <li><a href="#">Aide</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Nos Coordonnées</h4>

                            <ul class="footer-link">
                                <li><a href="#">New aYork</a></li>
                                <li><a href="#">London SF</a></li>
                                <li><a href="#">Cockfosters BP</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li><a href="#">Chicago</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Copyright End -->
        <div class="copyright">
            <div class="container">
                <div class="copyright-text">
                    <p>&copy; 2023 <span> WinMarket </span> Fais avec le ❤️ par <a href="https://hasthemes.com/" target="_blank">Brayant-Kadji</a></p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->

    </div>
    </th:block>
    <!-- fin du footer -->
</body>
</html>