<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Marquet place</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" th:href="@{/css/plugins/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/minibootstrap.css}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{/css/plugins/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/odometer.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/ion.rangeSlider.min.css}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>


        <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="index.html"><img th:src="@{/images/logo.jpg}" alt="Logo"></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-3">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li><a href="about.html">A propos</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a th:href="@{/login}">Connexion</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">

            <!-- Header Mobile top Start -->
            <div class="header-mobile-top header-sticky">
                <div class="container">
                    <div class="row row-cols-3 gx-2 align-items-center">
                        <div class="col">
    
                            <!-- Header Toggle Start -->
                            <div class="header-toggle">
                                <button class="mobile-menu-open">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                            <!-- Header Toggle End -->
    
                        </div>
                        <div class="col">
    
                            <!-- Header Logo Start -->
                            <div class="header-logo text-center">
                                <a href="index.html"><img th:src="@{/images/logo.png}" alt="Logo"></a>
                            </div>
                            <!-- Header Logo End -->
    
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Mobile top End -->
    
            <!-- Header Mobile Bottom End -->
            <div class="header-mobile-bottom">
                <div class="container">
    
                </div>
            </div>
            <!-- Header Mobile Bottom End -->
    
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    <div class="off-canvas-box">
    
            <!-- Canvas Close bar Start -->
            <div class="canvas-close-bar">
                <span>Menu</span>
                <a class="menu-close" href="javascript:;"><i class="pe-7s-angle-left"></i></a>
            </div>
            <!-- Canvas Close bar End -->
    </div>
    <br><br><br><br>
    <!-- off Canvas End -->
<!-- ----------------------------------SECTION D'INTERIEURE DE PAGE------------------------------------- -->


        <!-- Register Section Start -->
        <div class="section section-padding mt-n1">
            <div class="container">
                <form th:action="@{/client/inscription/confirm}" method="post" th:object="${client}">
                    <h1 class="title" align="center">S'inscrire</h1> 
                    <hr><br>
                    <h3 class="title"  style="color:green;" align="center">1) Innitier votre inscription</h3> <br>
                    <div class="row">
                        <div class="col-lg-6">
                        <!-- Login & Register Start -->    
                            <div class="single-form form-floating">
                                <input type="text" id="nom" class="form-control" placeholder="" th:field="*{nom}" required>
                                <label for="nom" >Nom</label>
                            </div>
    
                        </div>
                        <div class="col-lg-6">
                            <div class="single-form form-floating">
                                <input type="email" id="email" class="form-control" placeholder="" th:field="*{email}" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-form form-floating">
                                <input type="text" id="prenom" class="form-control" placeholder="" th:field="*{prenom}" required>
                                <label for="prenom">Prénom</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-form form-floating">
                                <input type="date" id="date_naissance" class="form-control" placeholder="" th:field="*{dateNaissance}" required>
                                <label for="date_naissance">Date de naissance</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-form form-floating">
                                <input type="number" id="telephone1" class="form-control" placeholder="" th:field="*{telephone1}" required>
                                <label for="telephone1">Tél.1</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-form form-floating">
                                <input type="number" id="telephone2" class="form-control" placeholder="" th:field="*{telephone2}">
                                <label for="telephone2">Tél.2</label>
                            </div>
                        </div>
                    </div>
                    <div class="single-form">
                        <button type="submit" class="btn btn-success btn-hover-dark">Continuer</button>
                    </div>
                </form>   
            </div>
        </div>
        <!-- Register Section End -->

<!-- ----------------------------------SECTION D'INTERIEURE DE PAGE------------------------------------- -->

    <!-- Footer Section Start -->
    <div class="section footer-section">

            <!-- Footer Top Start -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-md-4">
    
                            <!-- Footer Logo Start -->
                            <div class="footer-logo">
                                <a href="index.html"><img th:src="@{/images/logo.png}" alt="Logo"></a>
                            </div>
                            <!-- Footer Logo End -->
    
                        </div>
                        <div class="col-xl-5 col-md-8">
    
                            <!-- Footer Contact & Payment End -->
                            <div class="footer-contact-payment">
                                <div class="footer-contact">
                                    <div class="contact-icon">
                                        <img th:src="@{/images/icon/icon-4.png}" alt="Icon">
                                    </div>
    
                                    <div class="contact-content">
                                        <h6 class="title">Contacter Nous:</h6>
                                        <p>+237 656437088</p>
                                    </div>
                                </div>
                                <div class="footer-payment">
                                    <img th:src="@{/images/payment.png}" alt="Payment">
                                </div>
                            </div>
                            <!-- Footer Contact & Payment End -->
    
                        </div>
                        <div class="col-xl-5 ">
    
                            <!-- Footer Subscribe End -->
                            <div class="footer-subscribe">
                                <span class="title">Inscrivez vous Maintenant :</span>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Votre Mail">
                                        <button><i class="pe-7s-paper-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Footer Subscribe End -->
    
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Top End -->
    
            <!-- Footer Widget Section Start -->
            <div class="footer-widget-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6">
    
                            <!-- Footer Widget Start -->
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">Nos services</h4>
    
                                <ul class="footer-link">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns-Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->
    
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <!-- Footer Widget Start -->
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">Information</h4>
    
                                <ul class="footer-link">
                                    <li><a href="#">About Furbar</a></li>
                                    <li><a href="#">How to Shop</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Log in</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <!-- Footer Widget Start -->
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">My Account</h4>
    
                                <ul class="footer-link">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="#">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->
                        </div>
                        <div class="col-lg-2 col-md-5 col-sm-6">
                            <!-- Footer Widget Start -->
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">Our Stores</h4>
    
                                <ul class="footer-link">
                                    <li><a href="#">New aYork</a></li>
                                    <li><a href="#">London SF</a></li>
                                    <li><a href="#">Cockfosters BP</a></li>
                                    <li><a href="#">Los Angeles</a></li>
                                    <li><a href="#">Chicago</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->
                        </div>
                        <div class="col-lg-3 col-md-7">
                            <!-- Footer Widget Start -->
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">About Us</h4>
    
                                <div class="widget-about">
                                    <p>Duo d'etudiant engager pour vous permettres D'ameliorer le chifre d'affaire de vos boutiques</p>
                                </div>
                                <div class="widget-social">
                                    <ul>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Footer Widget End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Widget End -->
    
            <!-- Footer Copyright End -->
            <div class="copyright">
                <div class="container">
                    <div class="copyright-text">
                        <p>&copy; 2023 <span> ShopyMarket </span> Fais avec le ❤️ par <a href="https://hasthemes.com/" target="_blank">Bryan-Kadji</a></p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
    
    </div>
    <!-- Footer Section End -->

<!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>

    <!-- Bootstrap JS -->
    <script th:src="@{/js/plugins/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap.min.js}"></script>
    <!-- Plugins JS -->
    <script th:src="@{/js/plugins/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/plugins/ajax-contact.js}"></script>
    <script th:src="@{/js/plugins/appear.js}"></script>
    <script th:src="@{/js/plugins/odometer.min.js}"></script>
    <script th:src="@{/js/plugins/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/plugins/select2.min.js}"></script>
    <script th:src="@{/js/plugins/ion.rangeSlider.min.js}"></script>
    <script th:src="@{/js/plugins/jquery.zoom.min.js}"></script>
    <script type="text/javascript" th:src="@{/new/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lightslider.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/new/sweetalert2/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script th:src="@{/js/plugins.min.js"></script> -->
    <!-- Main JS -->
    <script th:src="@{/js/main.js}"></script>

    <div th:if="${success}">
        <script th:inline="javascript">
            function sucess(message){
              Swal.fire({
    position: 'top-end',
    icon: 'success',
    title:  message,
    showConfirmButton: false,
    timer: 5000
  })
            }
            sucess("[[${success}]]");
        </script>
    </div>

        <div th:if="${error}">
            <script th:inline="javascript">    
                function erreur(message){
                  Swal.fire({
        position: 'top-end',
        icon: 'error',
        title:  message,
        showConfirmButton: false,
        timer: 5000
      })
                }
                erreur("[[${error}]]");
            </script> 
        </div>

</body>

</html>