<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Marquet place</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" th:href="@{/css/plugins/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/minibootstrap.css}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" th:href="@{/css/plugins/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/odometer.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/ion.rangeSlider.min.css}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" th:href="@{/css/vendor/plugins.min.css">
    <link rel="stylesheet" th:href="@{/css/style.min.css">
     -->
</head>

<body>


    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/"><img th:src="@{/images/logo.jpg}" alt="Logo"></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-3">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li class=""><a th:href="@{/produit/liste/0}">Accueil</a></li>&nbsp;
                            <li class=""><a href="contact.html">Contact</a></li>
                            <li><a th:href="@{/logout}">Deconnexion</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">

        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">

                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->

                    </div>
                    <div class="col">

                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="index.html"><img th:src="@{/images/logo.png}" alt="Logo"></a>
                        </div>
                        <!-- Header Logo End -->

                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">

            </div>
        </div>
        <!-- Header Mobile Bottom End -->

    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    <div class="off-canvas-box">
        <!-- Canvas Close bar Start -->
        <div class="canvas-close-bar">
            <span>Menu</span>
            <a class="menu-close" href="javascript:;"><i class="pe-7s-angle-left"></i></a>
        </div>
        <!-- Canvas Close bar End -->
        <!-- Canvas Menu Start -->
        <div class="canvas-menu">
            <nav>
                <ul class="nav-menu">
                    <li><a href="">À propos</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a th:href="@{/logout}">Déconnexion</a></li>

                </ul>

            </nav>
        </div>
        <!-- Canvas Menu End -->
    </div>
    <div class="section page-banner-section" style="background-image: url(/images/page-banner.jpg);">
        <div class="container">

            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">creer votre boutique</h2>

                <ul class="breadcrumb">
                    <li><a th:href="@{/produit/liste/0}">Acceuil</a></li>
                    <li class="active">creer votre boutiqu</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->

        </div>
    </div>
    <!-- Page Banner Section End -->
    <div class="section section-padding mt-n1">
    <div class="container">
        <div class="justify-content-center">
                <div class="login-register-wrapper">
                    <h1 class="text-center">Créer Votre boutique</h1>
                    <form th:action="@{/boutique/creer}" th:object="${boutique}" method="post" enctype="multipart/form-data">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    
                                    <!-- <div class="single-form form-floating">
                                        <div class="col-sm-S">
                                        <select th:field="*{typeBoutique}">
                                        <option th:value = "${type.idTypeBoutique}">Type de Boutique <span th:text="${type.libelle}"></span></option>
                                        </select>
                                        </div>
                                    </div> -->
                                    <input type="hidden" name="nom" id="nom" class="form-control" placeholder="Non du Produit" th:value = "${type.idTypeBoutique}" th:field="*{typeBoutique}" required>

                                    <div class="single-form form-floating">
                                        <input type="text" name="nom" id="nom" class="form-control" placeholder="Non du Produit" th:field="*{nom}" required>
                                        <label for="nom" >Nom de Votre Boutique</label>
                                    </div>
            
                                    <div class="single-form form-floating">
                                        <input type="text" id="emplacement" class="form-control" placeholder="où se trouve votre boutique" th:field="*{emplacement}" required>
                                        <label for="prix">emplacement</label>
                                    </div>
            
                                    <div class="single-form form-floating">
                                        <input type="text" id="slogan" class="form-control" placeholder="exemple : 'Au coeur de votre satisfaction' " th:field="*{slogan}" required>
                                        <label for="slogan">Votre Slogan</label>
                                    </div>
                                    <div class="single-form form-floating">
                                        <input type="text" id="reference" class="form-control" placeholder="immatriculation au RCCM" th:field="*{immatriculationRccm}" required>
                                        <label for="reference">immatriculation/ ID RCCM</label>
                                    </div><br>
                                    <h1 class="text-decoration-underline title">Importer Votre Logo ou  Une Image de Représentation</h1>
                                        <div class="form-group">
                                          <label for="image1">Votre Logo :</label>
                                          <div class="input-group mb-3">
                                            <div class="custom-file">
                                              <input type="file" class="custom-file-input" id="image1" name="image" accept="image/*" onchange="loadImage(event, 'preview1')" required>
                                              <label class="custom-file-label" for="image1"></label>
                                            </div>
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-secondary myb" type="button" style="background-color: rgb(252, 106, 106);" onclick="removeImage('image1', 'preview1')">Supprimer</button>
                                            </div>
                                          </div>
                                          <img id="preview1" class="img-thumbnail" style="max-width: 300px; max-height: 300px;">
                                        </div>
                                </div>
                            </div>
                            <!-- <div class="single-form">
                                <input type="checkbox" id="receive">
                                <label for="receive"> <span></span> Receive</label>
                            </div> -->
                            <!-- <div class="single-form">
                                <input type="checkbox" id="newsletter">
                                <label for="newsletter"> <span></span> Sign Up For Our Newsletter <br> Subscribe To Our Newsletters Now And Stay Up-To-Date With New Collections, The Latest Lookbooks And Exclusive Offers.</label>
                            </div> -->
                            <div class="single-form">
                                <button type="submit" class="btn btn-success btn-hover-dark">Ajouter</button>
                            </div>
                        </form>
                </div>
        </div>
    </div>
    </div>
<!-- -----------------------------------------SECTION DE D'INTERIEURE DE PAGE------------------------------------- -->

    <!-- Footer Section Start -->
    <div class="section footer-section">

        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">

                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="index.html"><img th:src="@{/images/logo.png}" alt="Logo"></a>
                        </div>
                        <!-- Footer Logo End -->

                    </div>
                    <div class="col-xl-5 col-md-8">

                        <!-- Footer Contact & Payment End -->
                        <div class="footer-contact-payment">
                            <div class="footer-contact">
                                <div class="contact-icon">
                                    <img th:src="@{/images/icon/icon-4.png}" alt="Icon">
                                </div>

                                <div class="contact-content">
                                    <h6 class="title">Contacter Nous:</h6>
                                    <p>+237 656437088</p>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Contact & Payment End -->

                    </div>
                    <div class="col-xl-5 ">

                        <!-- Footer Subscribe End -->
                        <div class="footer-subscribe">
                            <span class="title">Inscrivez vous maintenant !:</span>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Entrez Votre Mail">
                                    <button><i class="pe-7s-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Footer Subscribe End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Nos services</h4>

                            <ul class="footer-link">
                                <li><a href="#">Methode de Paiement</a></li>
                                <li><a href="#">Remboursement garantie</a></li>
                                <li><a href="#">Termes et conditions</a></li>
                                <li><a href="#">Politique de confidencialité</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->

                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Informations</h4>

                            <ul class="footer-link">
                                <li><a href="#">à propos</a></li>
                                <li><a href="#">Comment acheter?</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Nous contacter</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Mon compte</h4>

                            <ul class="footer-link">
                                <li><a href="#">Se Connecter</a></li>
                                <li><a href="#">Mon panier</a></li>
                                <li><a href="#">Poursuivre ma commande</a></li>
                                <li><a href="#">Aide</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Nos Coordonnées</h4>

                            <ul class="footer-link">
                                <li><a href="#">New aYork</a></li>
                                <li><a href="#">London SF</a></li>
                                <li><a href="#">Cockfosters BP</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li><a href="#">Chicago</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Copyright End -->
        <div class="copyright">
            <div class="container">
                <div class="copyright-text">
                    <p>&copy; 2023 <span> WinMarket </span> Fais avec le ❤️ par <a href="https://hasthemes.com/" target="_blank">Brayant-Kadji</a></p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->

</div>
<!-- Footer Section End -->

<!-- JS
============================================ -->

<!-- Modernizer & jQuery JS -->
<script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>

<!-- Bootstrap JS -->
<script th:src="@{/js/plugins/popper.min.js}"></script>
<script th:src="@{/js/plugins/bootstrap.min.js}"></script>
<!-- Plugins JS -->
<script th:src="@{/js/plugins/swiper-bundle.min.js}"></script>
<script th:src="@{/js/plugins/ajax-contact.js}"></script>
<script th:src="@{/js/plugins/appear.js}"></script>
<script th:src="@{/js/plugins/odometer.min.js}"></script>
<script th:src="@{/js/plugins/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/plugins/select2.min.js}"></script>
<script th:src="@{/js/plugins/ion.rangeSlider.min.js}"></script>
<script th:src="@{/js/plugins/jquery.zoom.min.js}"></script>
<script type="text/javascript" th:src="@{/new/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lightslider.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/new/sweetalert2/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
<!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
<!-- <script th:src="@{/js/plugins.min.js"></script> -->
<!-- Main JS -->
<script th:src="@{/js/main.js}"></script>

<div th:if="${success}">
    <script th:inline="javascript">
        function sucess(message){
          Swal.fire({
position: 'top-end',
icon: 'success',
title:  message,
showConfirmButton: false,
timer: 5000
})
        }
        sucess("l\'operation a été éffectuée avec succès");
    </script>
</div>

    <div th:if="${error}">
        <script th:inline="javascript">    
            function erreur(message){
              Swal.fire({
    position: 'top-end',
    icon: 'error',
    title:  message,
    showConfirmButton: false,
    timer: 5000
  })
            }
            erreur("une erreur s'est produite veillez réessayer");
        </script> 
    </div>
<script>
    function loadImage(event, previewId) {
        var input = event.target;
        var preview = document.getElementById(previewId);
        var reader = new FileReader();
        reader.onload = function() {
        preview.src = reader.result;
        };

        if (input.files[0]) {
        reader.readAsDataURL(input.files[0]);
        } else {
        preview.src = "";
        }
    }
    
    function removeImage(inputId, previewId) {
        var input = document.getElementById(inputId);
        var preview = document.getElementById(previewId);
        input.value = "";
        preview.src = "";
    }
</script>
</body>

</html>



    