<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
  <title>Mon historique de paiement</title>
</head>

<body>

  <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark"> -->
  <!-- Brand -->
  <!-- <a class="navbar-brand" href="#">Liste de mes articles</a> -->

  <!-- Toggler/collapsibe Button -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <!-- Navbar links -->
  <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Accueil</a>
      </li>
    </ul>
  </div>
</nav> -->

  <div class="container">
    <div class="row">
      <h1>historique des paiements</h1>
      <br><br>
    </div>
    <a class="btn btn-success" th:href="@{/home}"> &lt;- retour à l'accueil </a><br><br>
    <th:block th:if="${commandes == null}">
      <h2 class="title alert-info">Vous n'avez aucun paiement pour l'instant</h2>
    </th:block>
    <th:block th:if="${valide}">
      <h2 class="title alert-danger">vous devez valider votre compte en completant votre profil !</h2>
    </th:block>
    <div th:unless="${commandes == null}">
      <div class="container">
        <div class="table-responsive table-hover">
          <table class="table">
            <thead>
              <tr>
                <th>Date Paiement</th>
                <th>numéro Paiement Client</th>
                <th>votre numéro de reception</th>
                <th>montant Paiement</th>
                <th>status paiement</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="commande : ${commandes}">
                <td th:text="${commande.dateCommande}"></td>
                <td th:text="${commande.moyenPaiement}"></td>
                <td><span th:text="${commande.utilisateur.telephone1}"></span><span>/</span><span
                    th:text="${commande.utilisateur.telephone2}"></span></td>
                <td th:text="${commande.prix}"></td>
                <th:block th:if="${commande.etat == 'livrer'}">
                  <td>recu</td>
                </th:block>
                <th:block th:unless="${commande.etat == 'livrer'}">
                  <td th:text="${commande.etat}"></td>
                </th:block>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/new/jquery/dist/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/lightslider.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/new/sweetalert2/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
  <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
  <!-- <script th:src="@{/js/plugins.min.js"></script> -->
  <!-- Main JS -->
  <script th:src="@{/js/main.js}"></script>

  <div th:if="${success}">
    <script th:inline="javascript">
      function sucess(message) {
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: message,
          showConfirmButton: false,
          timer: 5000
        })
      }
      sucess("[[${success}]]");
    </script>
  </div>

  <div th:if="${error}">
    <script th:inline="javascript">
      function erreur(message) {
        Swal.fire({
          position: 'top-end',
          icon: 'error',
          title: message,
          showConfirmButton: false,
          timer: 5000
        })
      }
      erreur("[[${error}]]");
    </script>
  </div>
</body>

</html>